<h1>Irie reggae band name generator</h1>
<%
@first_word = [:natural, :dirty, :green, :rebel, :salty, :rankin, :afro, :tribal]
@second_word = [:seeds, :roots, :trees, :redemption, :vibrations, :lion, :zion]
%>

<p>
	<font size=+1 color=green>
Jah say, name your band <%= @first_word.sample %> <%= @second_word.sample %>
</font>
</p>

